.carousel_1 {
	position: relative;
}

.carousel_1 > .owl-dots {
	display: none;
}

.btn-prev,
.btn-next {
	position: absolute;
	top: 40%;
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-size: 20px;
    padding: 10px 20px;
    transition: 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
	background-color: #EC7900;
}

.btn-prev {
	left: 0;
}

.btn-next {
	right: 0;
}

@media(max-width: 450px) {
	.carousel_1 > .owl-dots {
		display: block;
		margin-top: 10px;
	}

	.carousel_1 > .owl-nav {
		display: none;
	}
}

/*Our Services*/

.category-page {
	font-size: 15px;
	color: #0093DD;
	font-weight: 600;
	text-transform: uppercase;
}

.title-page {
	font-size: 40px;
	font-weight: 600;
	color: black;
	margin: 20px 15%;
}

.list-services {
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
	margin-top: 40px;
}

.list-services:hover {
	filter: drop-shadow(4px 4px 20px rgba(6, 38, 73, 0.3));
}

.list-services2 {
	padding: 35px;
}

.list-services h3 {
	display: block;
    height: 70px;
	font-size: 24px;
	font-weight: 600;
	color: #0093DD;
}

.list-services p {
	color: #8F8F9E;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.list-services a {
	color: #CB6800;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #CB6800;
    padding-bottom: 5px;
    transition: 0.3s;
}

.list-services a:hover {
	color: black;
	border-bottom: 2px solid black;
}

.list-services img {
	width: 100%;
	height: auto;
}

@media(max-width: 1200px) {
	.title-page {
		margin: 20px 0;
	}
}

@media(max-width: 991px) {
	.title-page {
		font-size: 35px;
	}
}

@media(max-width: 740px) {
	.list-services h3 {
		height: auto;
		margin-bottom: 20px;
	}
}

@media(max-width: 450px) {
	.list-services2 {
		padding: 25px;
		margin-bottom: 10px;
	}

	.title-page {
		font-size: 30px;
	}
}

/*PRODUCTS*/

.bg-product-home {
	background-color: #0093DD;
	padding-top: 60px;
    padding-bottom: 80px;
    margin-top: 80px;
}

.category-page2 {
	color: white;
}

.list-product-home {
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	transition: 0.3s;
	padding: 20px;
	margin-top: 40px;
}

.list-product-home:hover {
	filter: drop-shadow(4px 4px 20px rgba(6, 38, 73, 0.3));
}

.list-product-home img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
}

.list-product-home h3 {
	font-size: 24px;
    font-weight: 600;
    color: #0093DD;
    border-top: 2px solid #CB6800;
    padding-top: 20px;
    margin: 20px 0;
}

.list-product-home p {
	color: #8F8F9E;
    font-size: 16px;
    font-weight: 400;
}

/*AbOUT US*/

.bg-about-us {
	background-color: white;
	padding: 80px 0;
}

.title-page2 {
	margin: 20px 0 30px 0;
}

.bg-about-us-2 {
	background-color: #EDF5FD;
	margin-top: 40px;
	margin-bottom: 60px;
}

.bg-about-us-3 {
	padding-right: 0;
	padding-left: 0;
}

.description-about-us {
    font-size: 16px;
    line-height: 1.7;
    margin: 20px 10px;
}

.description-about-us p {
	margin-top: 10px;
}

.description-about-us h1,
.description-about-us h2,
.description-about-us h3,
.description-about-us h4,
.description-about-us h5,
.description-about-us h6 {
	font-size: 20px;
    margin: 10px 0;
}

.img-about-us {
	width: 100%;
	height: auto;
}

@media(max-width: 991px) {
	.description-about-us {
		margin: 40px 0;
	}
}


/*Our Projects*/

.list-projects-home {
	margin-bottom: 50px;
}

.list-projects-home img {
	width: 100%;
	height: auto;
}

.list-projects-home h3 {
	color: #0093DD;
	font-size: 20px;
	margin: 12px 0;
	line-height: 1.3;
}

.list-projects-home p {
	font-size: 15px;
    font-weight: 400;
}

/*Major Client*/

.carousel_2 {
	margin-top: 50px;
}

.carousel_2 > .owl-nav {
	display: none;
}

.carousel_2 > .owl-dots {
	margin-top: 50px;
}

.img-client {
	margin: 0 25px;
}

/*Contact Us*/

.title-page3 {
	margin: 10px 0;
}

.description-contact {
	color: #8F8F9E;
    font-size: 16px;
    font-weight: 400;
}

.contact-home {
	display: grid;
    grid-template-columns: 50% 50%;
}

.list-contact-home {
	list-style: none;
	display: flex;
	margin-top: 40px;
}

.list-contact-home li:nth-child(1) {
	margin-right: 15px;
}

.list-contact-home i {
	background-color: #00923D;
    color: white;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.list-contact-home h3 {
	color: #001208;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

.form-contact-home {
	background-color: #8595A4;
    padding: 40px 60px;
    margin-left: 60px;
}

.form-contact-home label {
	color: #001208;
	font-size: 15px;
	font-weight: 600;
	margin-top: 20px;
}

.input-home,
.textarea-home {
	background-color: white;
    width: 100%;
    font-size: 14px;
    color: silver;
    border: none;
    padding: 15px;
    border-radius: 40px;
    margin-top: 10px;
}

.textarea-home {
	height: 180px;
	border-radius: 15px;
}

.send-home {
    background-color: #EC7900;
    color: #001208;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 12px 50px;
    margin-top: 20px;
    border-radius: 30px;
}

@media(max-width: 1200px) {
	.form-contact-home {
		padding: 40px;
		margin-left: 50px;
	}
}

@media(max-width: 991px) {
	.form-contact-home {
		margin-left: 0;
		margin-top: 30px;
	}
}

@media(max-width: 450px) {
	.contact-home {
		grid-template-columns: 100%;
	}

	.form-contact-home {
		padding: 20px;
	}
}


/*body trang giới thiệu*/

.bg-breadcrumb {
	background-color: #0093DD;
	color: white;
	padding: 35px 0; 
}

.breadcrumb-intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.breadcrumb-intro h1 {
	font-size: 40px;
	font-weight: 600;
}

.breadcrumb-intro p {
	font-size: 13px;
}

.breadcrumb-intro a {
	color: white;
}

@media(max-width: 991px) {
	.breadcrumb-intro h1 {
		font-size: 30px;
	}
}

@media(max-width: 450px) {
	.breadcrumb-intro {
		flex-direction: column;
		justify-content: center;
	}

	.breadcrumb-intro h1 {
		margin-bottom: 20px;
	}
}

/*CERTIFICATE*/

.img-certificate {
	width: 100%;
	height: auto;
	padding-right: 40px;
}

.title-certificate {
	color: #001208;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}

.description-certificate {
	color: #8F8F9E;
	margin: 10px 0;
}

/*-------------------*/

.list-address {
	padding: 40px;
}

.address {
	border: 1px solid #E8E9ED;
}

.address2 {
	flex-direction: row-reverse;
	margin-top: 60px;
}

.list-address p {
	color: #212121;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
}

.list-address h3 {
	color: #0093DD;
	font-size: 30px;
	font-weight: 600;
}

.list-address div {
	margin: 20px 0;
}

.list-address div > p {
	font-weight: 400;
}

@media(max-width: 991px) {
	.img-certificate {
		padding-right: 0;
		margin-bottom: 30px;
	}

	.list-address {
		padding: 20px;
	}

	.list-address h3 {
		font-size: 22px;
	}
}

@media(max-width: 450px) {
	.list-address {
		padding: 20px 10px;
	}
}

/*body trang sản phẩm*/

.content-product-new {
	background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    margin-top: 40px;
}

.content-product-new:hover {
	filter: drop-shadow(4px 4px 20px rgba(6, 38, 73, 0.3));
}

.img-product-kasunair img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.content-product-new-2 {
    padding: 30px 20px;
}

.title-product {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 10px;
}

.title-product a {
	color: #0093DD;
}

.description-product {
	color: #8F8F9E;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/*phân trang*/

.pagination {
	justify-content: flex-end;
    margin: 40px 0;
}

.pagination span,
.pagination a {
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.pagination span {
	background-color: #0093DD;
	color: white;
}

.pagination a {
	border: 1px solid #0093DD;
	color: black;
}

/*body trang chi tiết sản phẩm*/

.img-detail-product {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.detail-product {
	background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-left: 30px;
}

.title-detail {
	color: #001208;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
}

/*slideshow gallery*/

.slideshow-gallery {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	justify-content: space-between;
    margin-top: 30px;
    list-style: none;
}

.slideshow-gallery li {
	width: 200px;
	height: 200px;
}

.slideshow-gallery img {
	width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

@media(max-width: 1400px) {
	.img-detail-product {
		height: 400px;
	}

	.slideshow-gallery li {
		width: 170px;
		height: 170px;
	}
}

@media(max-width: 1200px) {
	.slideshow-gallery li {
		width: 140px;
		height: 140px;
	}
}

@media(max-width: 991px) {
	.img-detail-product {
		height: 500px;
	}

	.slideshow-gallery li {
		width: 220px;
		height: 220px;
	}

	.detail-product {
		margin-left: 0;
		margin-top: 40px;
	}
}

@media(max-width: 740px) {
	.img-detail-product {
		height: 400px;
	}

	.slideshow-gallery li {
		width: 160px;
		height: 160px;
	}
}

@media(max-width: 450px) {
	.img-detail-product {
		height: 350px;
	}

	.slideshow-gallery li {
		width: 100px;
		height: 100px;
	}

	.title-detail {
		font-size: 25px;
		line-height: 1.4;
	}
}

/*body trang liên hệ*/

.bg-map iframe {
	width: 100%;
	height: 600px;
}

@media(max-width: 450px) {
	.bg-map iframe {
		height: 400px;
	}
}

/*body trang single*/

.img-single {
	width: 100%;
	height: auto;
}

.content-single {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 40px;
}

.content-single p {
    margin-top: 10px;
    color: #8F8F9E;
}

.content-single iframe {
    width: 100%;
}

.content-single img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.content-single div[style] {
    width: 100% !important;
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6 {
    font-size: 22px;
    color: #001208;
    margin: 10px 0;
}

.wp-element-caption {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: gray;
}

.wp-block-image {
	width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 991px) {
	.wp-block-image {
		width: 400px;
	}
}

@media(max-width: 740px) {
	.wp-block-image {
		width: 100%;
	}
}