@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: "Roboto";
}

ul,ol {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

select:focus {
	outline: none;
}

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}*/

p {
	font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto-Bold";
}

