.bg-header-pc {
	background-image: unset;
	background-color: #020330;
	mix-blend-mode: normal;
}

@media(max-width: 991px) {
	.menu-mobile {
		background-color: #020330;
	}
}

/*----------------------------*/

.bg-graphic {
	position: relative;
}

.img-graphic {
	width: 100%;
	height: 800px;
	object-fit: cover;
}

.title-intro {
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
}

.title-intro p {
	margin-bottom: 0;
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 0.03em;
}

.title-intro h3 {
	font-weight: 700;
	font-size: 35px;
}

@media(max-width: 1400px) {
	.img-graphic {
		height: 600px;
	}
}

@media(max-width: 450px) {
	.img-graphic {
		height: 300px;
	}

	.title-intro p,
	.title-intro h3 {
		font-size: 23px;
	}
}


/*WE ARE AN EVENT EXPERIENCED AGENCY*/

.bg-graphic2 {
	background-color: #00011B;
	padding: 80px 0;
	text-align: center;
}

.title-experienced {
	font-weight: 600;
	font-size: 38px;
	letter-spacing: 0.03em;
	color: #054BFF;
	margin-bottom: 40px;
}

.text-experienced {
	color: white;
	letter-spacing: 0.015em;
	font-weight: 300;
	font-size: 15px;
}

.content-experienced {
	padding: 0 22%;
	margin-bottom: 100px;
}

.content-experienced img {
	width: 100%;
	height: auto;
	margin-top: 30px;
}


@media(max-width: 1400px) {
	.content-experienced {
		padding: 0 18%;
	}
}

@media(max-width: 1200px) {
	.content-experienced {
		padding: 0 10%;
	}
}

@media(max-width: 450px) {
	.content-experienced {
		padding: 0;
	}

	.title-experienced {
		font-size: 27px;
	}
}


/*WITH ANIMATION, THERE IS NO BOUNDARY*/

.list-event {
	font-family: "Oswald";
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 22px;
	letter-spacing: 0.015em;
	margin-top: 60px;
	margin-bottom: 50px;
}

.list-event li {
	cursor: pointer;
}

.img-event img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 30px;
    filter: grayscale(1);
    transition: 0.4s;
}

.img-event img:hover {
	filter: none;
}

.active-event {
	font-weight: 700;
	font-size: 23px;
}

.content-event {
	display: none;
}

.active-content {
	display: block;
}

.title-event {
	width: 35%;
    margin: 0 auto;
}

.title-event h3 {
	font-family: "Oswald";
    line-height: 1.5;
    font-weight: 600;
}

.img-questions3 {
	width: 100%;
	height: auto;
}

.content-questions4 {
	position: relative;
}

.title-questions4 {
	color: white;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
}

.title-questions4 h3 {
	letter-spacing: 0.03em;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 124.9%;
	margin-bottom: 45px;
}

.title-questions4 a {
	background: rgba(31, 54, 110, 0.8);
	border: 1px solid #FFFFFF;
	border-radius: 36.5px;
	color: white;
	font-weight: 600;
	font-size: 26px;
	letter-spacing: 0.03em;
	padding: 17px 38px;
	transition: 0.4s;
}

.title-questions4 a:hover {
	background: rgba(1, 18, 82, 0.28);
}


@media(max-width: 1600px) {
	.title-event {
		width: 45%;
	}
}

@media(max-width: 1400px) {
	.title-event {
		width: 52%;
	}

	.title-questions4 {
		top: 26%;
	}
}

@media(max-width: 1200px) {
	.title-event {
		width: 61%;
	}
}

@media(max-width: 991px) {
	.img-event img {
		height: 300px;
	}

	.title-event {
		width: 85%;
	}

	.title-questions4 {
		top: 22%;
	}

	.title-questions4 h3 {
		font-size: 25px;
		margin-bottom: 30px;
	}

	.title-questions4 a {
		font-size: 15px;
		padding: 12px 30px;
	}
}

@media(max-width: 740px) {
	.list-event {
		justify-content: space-between;
	}
}

@media(max-width: 450px) {
	.list-event {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-row-gap: 20px;
	}

	.img-event img {
		height: 180px;
	}

	.title-event {
		top: 25%;
	}

	.title-questions4 {
		background-color: #475f99;
		padding-bottom: 50px;
		top: 30%;
	}

	.title-questions4 h3 {
		font-size: 18px;
   		margin-bottom: 20px;
	}

	.title-questions4 a {
		font-size: 10px;
    	padding: 12px 30px;
	}
}